*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    font-family: 'Poppins', sans-serif,Arial, Helvetica;
}
.col-4 img{
    display: block;
    justify-content: left;
    width: 200px;
    height: auto;

}
.col-4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}